body{
margin:0;
overflow:hidden;
background:black;
font-family:Arial;
color:white;
}

#ui{
position:absolute;
top:10px;
left:10px;
z-index:2;
font-size:20px;
}

#leaderboard{
margin-top:10px;
}

#mobileControls{
position:absolute;
bottom:20px;
width:100%;
text-align:center;
z-index:2;
}

button{
font-size:30px;
padding:15px 25px;
margin:10px;
border:none;
border-radius:10px;
}
