body {
margin: 0;
background: #111;
font-family: Arial, sans-serif;
text-align: center;
color: white;
}

canvas {
background: #444;
display: block;
margin: auto;
border: 4px solid white;
}

#ui {
position: absolute;
width: 100%;
top: 20px;
font-size: 24px;
}

#menu, #gameOver {
position: absolute;
width: 100%;
top: 40%;
}

.hidden {
display: none;
}

button {
padding: 10px 20px;
font-size: 18px;
cursor: pointer;
border: none;
background: lime;
color: black;
}
